<form #tempForm = "ngForm" (ngSubmit)="onSubmit()">
<div class="container">
    <!-- <div class="row">
        <mat-form-field>
            <input matInput placeholder="Enter Temperature" [(ngModel)] = "temperature"
            #temp
            type ="number"
            name = "temp"
            required>
            <mat-error *ngIf="!(temp.invalid)">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div> -->
    <div class="row">
        <mat-form-field>
            <mat-label>City</mat-label>
            <mat-select name="city" [(ngModel)] = "city">
                <mat-option *ngFor="let city of cities" 
                [value]="city.value">
                    {{city.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Submit</button>
      
    </div>
</div>
</form>