<p *ngIf = "!(books$ | async)"> Loading books...</p>
<mat-accordion>
    <a *ngIf = "(books$ | async)" class = "btn btn-primary" routerLink = "/addBook">add new book</a>
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let book of books$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{book.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> by {{book.author}}</p>
           <a class="edit" [routerLink] = "['/books',book.id, book.title, book.author, 'edit']" >Edit</a>
           <a class="del"  (click) = "delete(book.title, book.id)">Delete</a>
    </mat-expansion-panel>
</mat-accordion>

