<h2 mat-dialog-title>Delete {{data.title}} </h2>
<mat-dialog-content>Are you sure?</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.key" cdkFocusInitial>Ok</button>
</div>