<form #editForm = "ngForm" (ngSubmit)="editBook()">
    <div class="container">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Enter Book Title" [(ngModel)] = "title"
                #eTitle
                type ="text"
                name = "editTitle"
                required>
                <mat-error *ngIf="!(eTitle.invalid)">{{getBookErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Enter Author Name" [(ngModel)] = "author"
                    #authors
                    type ="text"
                    name = "editAuthor"
                    required>
                    <mat-error *ngIf="!(authors.invalid)">{{getAuthorErrorMessage()}}</mat-error>
                </mat-form-field>
            <div class = "buttons">
                <button mat-raised-button color="primary" [disabled]="!editForm.valid">Edit</button>
                <button mat-raised-button routerLink = "/books">Cancel</button>
            </div>
            

        </div>
    </div>
    </form>
