<div fxLayout="row" fxLayoutAlign="center center" class="register-main">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        Create account
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email Address" #userEmail required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" #userPwd required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="SignUp(userEmail.value, userPwd.value)">
        Sign Up!
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <span>Already have an account? <a class="redirect" routerLink="/log-in">Log In</a></span>
    </mat-card-footer>
  </mat-card>
</div>


      <!-- <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div> -->

      <!-- Continue with Google -->
      <!-- <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div> -->

      <!-- Continue with Facebook -->
      <!-- <div class="formGroup">
          <button type="button" class="btn facebookBtn" (click)="authService.FacebookAuth()">
            <i class="fab fa-facebook"></i>
            Continue with Facebook
          </button>
        </div> -->