<form #bookForm = "ngForm" (ngSubmit)="addBook()">
    <div class="container">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Enter Book Title" [(ngModel)] = "book"
                #books
                type ="text"
                name = "newBook"
                required>
                <mat-error *ngIf="!(books.invalid)">{{getBookErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Enter Author Name" [(ngModel)] = "author"
                    #authors
                    type ="text"
                    name = "newAuthor"
                    required>
                    <mat-error *ngIf="!(authors.invalid)">{{getAuthorErrorMessage()}}</mat-error>
                </mat-form-field>
            <div class = "buttons">
                <button mat-raised-button color="primary" [disabled]="!bookForm.valid">Add Book</button>
                <button mat-raised-button routerLink = "/books">Cancel</button>
            </div>
        </div>
    </div>
    </form>