<p *ngIf="!(dataMain$ | async)"> loading temperature...</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Temperatures</mat-card-title>
      <mat-card-subtitle>Temperature in {{city}} </mat-card-subtitle>
    </mat-card-header>
    <img [src]="image" alt="weather icon">
    <mat-card-content>
      <p>
        current temperature in {{city}} is {{temp | number: '1.0-0'}}º
      </p>
      <a routerLink = "/update-temperature"> Update temperature</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click) = "addLikes()">LIKE  {{likes}}</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>