.login-main{
    margin-top: 10%;
    }
mat-card{
    min-width: 40%;
}
mat-card-footer{
    margin-left: 10px;
    margin-bottom: 10px;
}
/* 
.example-card {
    max-width: 400px;
    margin: 200px;
  }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } */