<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" *ngIf = "authService.isLoggedIn">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink = "/books" routerLinkActive = "active" >Books list</a>
      <a mat-list-item [routerLink] = "['/temperatures', 'London']" routerLinkActive = "active">Temperatures</a>
      <a mat-list-item class="nav-link" (click)="SignOut()"> <mat-icon> exit_to_app</mat-icon> Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-books></app-books> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
